# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# macOS
.DS_Store

# PyCharm
.idea/

# Env / secrets
.env
.env.*

# Static / media
staticfiles/
media/
# 忽略所有名为 poster 的文件夹及其内容
poster/
**/poster/
# Cache
.pytest_cache/
.cache/
